@import url(burger-styles.css);
.itemrow {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 4px;
    

}
body {
    background-color: #00FFFF
}
.subboxes {
    text-align: center;
    display: inline-block;
    border-style: solid;
    height: 30vh;
    width: 60vh;
    margin: 4px;
    background-color: #01FF70
}
.labelrow {
    display: flex;
    position: relative;
    
}
.lrb {
    width: 60vh;
    margin: 8px;
    background-color: #40E0D0
}
.header {
    display: flex;
}
.headerlabel{
    background-color: #008080
}
@media only screen and (max-width:600px){
    .itemrow{
        display:block;
    }
    .labelrow{
        display:block;
    }
}
h2 {
    font-size: 4vh;
}
img {
    max-width:100%;
    max-height:100%;
}

#main-nav {
    margin: 0%;
    padding: 0%;
    height: auto !important;

}
.last {
    margin-right: .5em;
}
.first {
    margin-left: .5em;
}

nav ul {
    list-style-type: none;
    /* position: relative; */
    padding: 0%;
    display: flex;
    /* justify-content: space-between; */
    background-color: var(#ff6781);
}

.current {
    background-color: var(#ff6781);
}

nav ul li {
    width: 100px;
    text-align: center;
    display: inline-block;
    /* float: left; */
    /* margin: 0%; */
    background-color: var(#ff6781);
    padding: 1em 0em;
    flex-grow: 1;
    margin: .5em .25em;
    /* color: var(--yellow2); */
}

nav ul li:hover {
    background-color: var(#ff6781);
}

#main-nav a {
    text-decoration: none;
    color: var(#ff6781);
    width: 100%;
    height: 100%;
}
.hamburger {
    display: none;
}
@media (max-width: 700px) {
    body {
        background-position: 10vw 10vh;
    }
    .hamburger {
        /* width: 4em; */
        /* height: 4em; */
        position: fixed;
        top: 0%;
        left: 0%;
        display: inline-block;
        margin: 0em;
        background-color: var(#ff6781);
        /* padding: .5em; */
    }
    nav {
        position: fixed;
        background-color: var(#ff6781);
        top: 0em;
        left: 0em;
        /* margin: 0em; */
        /* display: none; */
        z-index: 2;
        overflow: hidden;
    }
    nav ul li {
        display: block;
        margin: 0em;
        padding: 1em;
    }
    nav ul {
        flex-direction: column;
        margin: 0em;
        transition: height .75s;
        height: 0px;
    }
}
