.itemrow {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 4px;

}
.subboxes {
    text-align: center;
    display: inline-block;
    border-style: solid;
    height: 30vh;
    width: 60vh;
    margin: 4px;
}
.labelrow {
    display: flex;
    position: relative;
}
.lrb {
    width: 60vh;
    margin: 8px;
}
.header {
    display: flex;
}
@media only screen and (max-width:600px){
    .itemrow{
        display:block;
    }
    .labelrow{
        display:block;
    }
}
h2 {
    font-size: 4vh;
}
img {
    max-width:100%;
    max-height:100%;
}
