body{
    background-color: #57EDF0;
    color : #613300;
    font-size: 20px;

}
p{
    font-size: 20px;
    margin-left: 10px;
}
p.a{
    font-size: 20px;
    font-style: italic;
}
p.b{
    color: #550858;
}
p.heavy{
    
}
p1{
    font-family: Arial
}
h1{
    color : #113739;
    font-size: 60px;

    font-family: impact;
}
